// Place all the styles related to the Hexes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
   font-size: 600%;
}

.section_header {
  padding: 0px 10px 0px 10px;
  border: 1px solid #ccc;
  font-size: 200%;
  line-height: 2em;
  color: #333;
  background-color: #ddd;
}

.hex_row {
  border: 1px solid #ccc;
  line-height: 1.3em;
  padding: 15px;
  color: #333;
  background-color: #fff;
  // disable text selection
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selected {
  background-color: lightblue;
}

.hex {
  text-align: center;
  line-height: 1.3em;
  font-size: 200%;
}

#hex_message_to {
  border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  color: blue;
  font-weight: bold;
  font-size: 36px; /* or larger */
  height: 2em; /* or larger */
  width: 400px; /* or larger */
}

#phone_form {
  text-align: center;
}

.centered_rule {
  border: 2px solid blue;
  background: rgba(255,255,255,0.5);
}
