// Place all the styles related to the Hexes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.section_header {
  border: 1px solid #ccc;
  color: #333;
  background-color: #ddd;
}

.hex_row {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
  background-color: #fff;
}
